.components-dropdown-menu__menu-item {
	.pll-flag-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;

		img {
			width: 23px;
			height: auto;
			padding: 2px;
			filter: grayscale(1);
		}
	}

	&.is-active {
		.pll-flag-wrapper {
			img {
				filter: grayscale(0);
			}
		}
	}
}